<div class="subPart">
	<% members = leaderboard.members.sort_by{ |m| -m.contributions_count } %>
	<h2>Leaderboard - <%= members.size %> contributors</h2>

	<table class="table table-striped table-hover">
		<thead></thead>
		<tbody>
			<% for member in members do %>
				<tr class="member">
					<td><a href="<%=member.profile%>">
						<figure class="avatar avatar-xl badge" data-initial="YZ" data-badge="<%= member.contributions_count %>">
							<img src="<%=member.avatar%>" alt="YZ"/>
							<% if member.challenge_complete? %>
								<img src="img/medal.png" class="avatar-icon">
							<% end %>
						</figure>
					</a></td>
					<td><a href="<%=member.profile%>">
						<%=member.username%>
					</a></td>
					<td><div class="bar">
						<div class="bar-item" style="width:<%=member.challenge_completion%>%;background:#818bd5;">
							<%=member.contributions_count%>/<%=Member.objective%>
						</div>
					</div></td>
					<td>
						<!-- List of badges earned -->
						<% for badge in member.badges
							nbadge = badge.times_earned_by(member)
							cls = "avatar avatar-xl"
							cls << " badge" if nbadge > 1
						%>
							<div class="popover popover-top">
								<figure class="<%= cls %>" data-badge="<%= nbadge %>">
									<img src="img/badges/<%=badge.short%>.png" alt="<%=badge.short%>">
								</figure>
								<div class="popover-container">
									<div class="card">
										<div class="card-header">
											<div class="text-large text-bold"><%=badge.title%></div>
										</div>
										<div class="card-body">
											<%=badge.description%>
										</div>
									</div>
								</div>
							</div>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>
<div class="subPart">
	<h2>How to contribute</h2>
	If you want your name to be listed, you first need to make your first contribution.
	Fork <a href="https://github.com/ourtigarage/hacktoberfest-summit">this repository</a>, update the
	<a href="https://github.com/ourtigarage/hacktoberfest-summit/blob/master/participants">participants file</a> by adding your
	GitHub username, and submit your first pull request.
	Once accepted, your name will appear in the leaderboard.<br/>
	<br/>
	Want to go further? Feel free to help us improving this app.<br/>
	Checkout <a href="https://github.com/ourtigarage/hacktoberfest-leaderboard/issues">Project issues</a><br/>
	<br/>
	Happy coding folks !!!
</div>
